{
  "env": {
    "build": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
